

body{
	margin-left:60px ;
    margin-right: 20px;
    font-family: serif;
    background-color: var(--zen-teal-1200);
    
  }
  img{
  	width: 100%;
  }
  p{
	
	font-size: 16px;
	line-height: 1.6;
}
::placeholder{
	padding: 6px;
	font-size: 15px;
}
/*  header*/
#main-header{
   margin-top: 60px;
}
#header-image{
    height: 275px;
}
#logo_switchToCode{
	height: 80px;
	max-width:200px;
}

/*social section*/

#social-container {
  position: fixed;
  top: 25%;
  left: 0;
 
}

.social-icon {
  display: block;
  font-size: 19px;
  color: white;
  padding: 15px;
}

#facebook {
  background-color: #007bff;
}

#twitter {
  background-color: skyblue;
}

#whatsapp {
  background-color: lightgreen;
}

#linkedin {
  background-color: lightblue;
}

#google {
  background-color: orange;
}

#gmail {
  background-color: orange;
}


#facebook:hover {
  background-color: rgba(0, 123, 255, 0.8); /* Change the background color on hover for Facebook */
}
#twitter:hover {
  background-color: rgba(29, 161, 242, 0.8); /* Change the background color on hover for Twitter */
}
#whatsapp:hover {
  background-color: rgba(37, 211, 102, 0.8); /* Change the background color on hover for WhatsApp */
}

#linkedin:hover {
  background-color: black; /* Change the background color on hover for LinkedIn */
}

#google:hover {
  background-color: rgba(255, 165, 0, 0.8); /* Change the background color on hover for Google */
}

#gmail:hover {
  background-color: rgba(255, 165, 0, 0.8); /* Change the background color on hover for Gmail (same as Google) */
}





/* author details*/
#author-container {
    display: inline-block;
    width: 18%;
    vertical-align: top;
    margin-right: 4%;
/*    margin-top: 60px;*/
    font-size: 15px;
}
#author-container img{
	border-radius: 25px;
	width: 58px;
	height: 57px;
	margin-bottom: 1rem;
	display: block;
   
}
#author-container .slash{
	display: none;
}
#author-name{
	display: block;
	margin-bottom: 1rem;
}
#author-name a {
   text-decoration: none;
   color: black;
   font-size:1rem;

}
#author-topic a {
   text-decoration: none;
   color: black;
   font-size:1rem;
}



/*main*/

#blog-content{
  display: inline-block;
  width: 71%;
}
#main-content{
	display: inline-block;
	width: 75%;
}
#blog-title{
	font-size: 60px;
}
#blog-title:hover{
	color: orange;
}
.uppercase{
	text-transform:uppercase;
}

li h4{
		text-transform:uppercase;
		font-family: serif;
}
#blog-desc{
	color: #314831;
/*color: Blue;*/
}
#site-title{
	margin-bottom: 0px;
}
#blog-content{
    margin-top: 60px;
}

/*aside-section*/
aside{
	display: inline-block;
	width: 20%;
	vertical-align: top;
	margin-left: 4%;
	margin-top:70px;
}
.widget {
    margin-top: 3.5rem;
    border-top: 4px solid black;
    line-height: 1.6;
    font-size: 1.1rem;
}
.widget input{
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	color: black;
	font-size: 1.2rem;
	border: 1px solid #ccc;
	background-color:#fafafa ;
	border-radius: 4px;
	letter-spacing: 1px;
}

/*subscribe-section*/

button[type="submit"]{
	background-color: black;
	color: white;
	font-size: 1.2rem;
	padding: 10px;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

#subscribe-btn:hover{
	background-color: red;
}
.widget-title{
	font-size: 1.4rem;
	text-transform: uppercase;

}

/* search-section*/
#search-box form{
	margin-top: 30px;
	margin-bottom: 70px;
}
#search-box input{
	display: inline;
	width: 80%;
	border-top-right-radius: 0;
	border-bottom-right-radius:0 ;
	margin-bottom: 0;
}
#search-box img {
	width: 18px;
	vertical-align:middle;
}
#search-box button{
	width: 12%;
	margin-left: -4.6px;
	padding:10px 0 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.widget li {
	font-family: serif;
	font-size: 16px;
	line-height: 1.6;
	color: #e00ec6;
}







